:root {
  --copyright-color: white;
}

:root.light {
  --copyright-color: black;
}

* {
  box-sizing: border-box;
}

canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
}

div.copyright {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--copyright-color);
  font-size: 12px;
  z-index: 999;
  width: 90%;
  text-align: center;
}

div.copyright a {
  color: var(--copyright-color);
}

.icon {
  background: currentColor;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;

  &.play {
    mask-image: url('images/play.svg');
  }

  &.shuffle {
    mask-image: url('images/shuffle.svg');
  }

  &.megaphone {
    mask-image: url('images/megaphone.svg');
  }

  &.record {
    mask-image: url('images/record.svg');
  }

  &.map {
    mask-image: url('images/map.svg');
  }

  &.trophy {
    mask-image: url('images/trophy.svg');
  }

  &.bomb {
    mask-image: url('images/bomb.svg');
  }

  &.sun {
    mask-image: url('images/sun.svg');
  }

  &.moon {
    mask-image: url('images/moon.svg');
  }
}


#settings {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background: #666;
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
  min-width: 50%;

  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 1s linear;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  h3 {
    padding: 0;
    margin: 0;
    font-size: 12pt;
    color: #fefefe;
  }

  textarea {
    width: 100%;
    min-height: 5rem;
    border: none;
    background: #999;
    font-size: 14pt;
  }

  button {
    color: #fefefe;
    background: #222;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    overflow: hidden;

    &:active:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  div.theme {
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
  }

  div.left {
    flex-grow: 1;
    flex-shrink: 1;
    order: 1;

    .actions {
      display: flex;
      align-items: center;
      justify-content: stretch;
      gap: 2px;

      div.sep {
        flex-grow: 1;
      }
    }
  }

  div.right {
    order: 2;
    flex-grow: 0;
    flex-shrink: 0;

    div.row {
      display: flex;
      align-items: center;
      height: 35px;

      label {
        width: 150px;
        flex-grow: 0;
        flex-shrink: 0;
        padding-left: 1rem;
        color: white;
      }
    }
  }

  select {
    height: 25px;
    width: 100%;
    border-radius: 5px;
    background: #999;
  }

  input[type=checkbox] {
    width: 50px;
    display: inline-block;
    padding-right: 63px;
    height: 25px;
    position: relative;
    vertical-align: middle;

    &:before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 50px;
      height: 25px;
      border-radius: 25px;
      background: #999;
      top: 0;
      left: 0;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      border-radius: 25px;
      width: 25px;
      height: 25px;
      background: #ccc;
      transition: transform .2s;
    }

    &:checked:after {
      transform: translateX(100%);
      background: white;
    }

    &:checked:before {
      content: '';
      background: #00baff;
    }
  }

  .btn-group {
    display: flex;
    justify-content: stretch;

    & > * {
      box-sizing: border-box;
      flex-grow: 0;
      flex-shrink: 0;
      overflow: hidden;
      height: 25px;
      width: 33%;
      border-radius: 0;
      background: #999;
      border: none;
      padding: 0;
      color: #fefefe;

      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        border-radius: 10px 0 0 10px;
      }

      &:last-child {
        border-radius: 0 10px 10px 0;
      }

      &.active:before {
        content: '';
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        mask-image: url('images/check.svg');
        mask-repeat: no-repeat;
        background: white;
      }

      &.active {
        background: #333;
      }
    }

    input[type=number] {
      box-sizing: border-box;
      text-align: center;
    }
  }
}

#notice {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: 500px;
  max-width: 90%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  z-index: 1001;
  padding: 10px 10px;
  color: #333;
  flex-direction: column;

  h1 {
    background-color: #ffdd00;
    margin: -10px -10px 0 -10px;
    padding: 10px 5px 10px .5em;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      background-image: url('images/megaphone.svg');
      background-size: contain;
      margin-right: 0.2em;
    }
  }

  div.notice-body {
    padding: 0 .5em;
  }

  div.notice-action {
    display: flex;
    justify-content: end;

    button {
      color: #fefefe;
      background: #222;
      border: none;
      border-radius: 20px;
      padding: 5px 10px;
      position: relative;
      overflow: hidden;
      width: 50%;
      height: 50px;

      &:active:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

#donate {
  position: fixed;
  bottom: calc(160px + 1.5rem);
  left: 1rem;
  z-index: 999;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 1s linear;
  display: flex;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  & > a {
  }


  .icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 750px) {
  #donate {
    bottom: 3rem;
    width: calc(100% - 2rem);

    .bmc-btn-container {
      width: calc(100%);

      .bmc-btn {
        width: 100%;
      }
    }

  }

  #settings {
    bottom: calc(4rem + 60px);
    display: block;
    min-width: 0;
    max-width: 100%;
    width: calc(100% - 2rem);
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 1s linear;

    &.hide {
      opacity: 0;
      visibility: hidden;
    }

    div.right div.row {
      height: auto;
      display: block;
      border-bottom: 1px solid #555;
      padding: .5rem 0;

      label {
        width: 100%;
        margin-bottom: .5rem;
        padding-left: 0;
        display: block;
      }

      .icon {
        width: 15px;
        height: 15px;
      }
    }
  }


  #notice {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    transform: none;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    z-index: 1001;
    padding: 5px 10px;
    color: #333;
    display: none;
    flex-direction: column;

    div.notice-body {
      flex-grow: 1;
    }

  }

}

div.toast {
  position: fixed;
  transform: translate(-50%, 0);
  padding: 8px;
  border-radius: 4px;
  background: #ccc;
  overflow: hidden;
  bottom: 10px;
  left: 50%;
  z-index: 1000;
  animation: .2s linear fade-in, .2s linear 1s reverse fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.link_donation {
  display: flex;
  padding: 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(
                  45deg,
                  #ffaa00,
                  #ffaa00 20px,
                  #222222 20px,
                  #222222 40px
  );
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: .5em;
  margin-bottom: 1em;
  text-decoration: none;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}
