@use 'sass:list';

@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 800;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype')
}


:root {
  font-size: 16pt;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: #00ffff;
  font-family: Galmuri11, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100%;

}

h1, h2, h3, h4, h5 {
  font-family: DNFBitBitv2, sans-serif;
  margin: 0;
  padding: 0;
}


section#title-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 100;


  video.header-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;

    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.92);
    z-index: 1;
    pointer-events: none;
  }

  div.content {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      line-height: 4rem;
      text-align: center;
      font-size: 4rem;


      $all-shadows: ();

      @for $i from 1 through 9 {
        $current-shadows: (
                -#{$i}px 0px 1px #00ffff,
                #{$i}px 0px 1px #00ffff,
                0px -#{$i}px 1px #00ffff,
                0px #{$i}px 1px #00ffff,
        );

        $all-shadows: list.join($all-shadows, $current-shadows);
      }
      $all-shadows: list.join($all-shadows, (0px 0px 30px #00ffff,));
      text-shadow: $all-shadows;
      color: black;
    }

    p {
      font-weight: bold;
      color: white;
    }

  }
}

div.square {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 4px solid #00ffff;
  transform: translate(-50%, 0);
}

section#people-page {
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 90;
  position: relative;
  background-color: black;

  & > div.text {
    min-width: 50%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    &.country-count {
      opacity: 0;
    }
  }

  div.video {
    min-width: 50%;
    position: absolute;
    right: 0;
  }

  video {
    object-fit: contain;
  }

  h3 {
    color: white;
  }

  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  section#people-page {
    display: block;

    h2 {
      font-size: 1.5rem;
    }

    & > div.text {
      display: block;
      margin: 0;
      position: absolute;
      right: 10%;
      top: 10%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10;
      white-space: nowrap;

      &.country-count {
        top: 60%;
        right: unset;
        left: 10%;
      }
    }

    div.video {
      width: 100%;
      position: absolute;
      left: 50%;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
    }
  }
}

section#execution-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: block;
  align-items: center;
  z-index: 80;
  overflow: hidden;

  video#execution-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div.text {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
  }

}

@media screen and (max-width: 800px) {
  section#execution-page {
    h2 {
      font-size: 1.2rem;
    }
  }
}


div#main-marble {
  position: absolute;
  opacity: 0;
  width: 25px;
  height: 25px;
  background: #FF3333;
  border-radius: 50%;
  z-index: 999;
}

div.filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 1;
  background: /* 1. 수평선 (Horizontal Lines) */
          repeating-linear-gradient(
                          to bottom, /* 아래 방향으로 반복 */
                          transparent,
                          transparent 1px, /* 8px까지는 투명 */
                          rgba(0, 0, 0, 0.6) 2px, /* 9px에서 1px 두께의 검은 선 */
                          transparent 3px
          ),
            /* 2. 수직선 (Vertical Lines) */
          repeating-linear-gradient(
                          to right, /* 오른쪽 방향으로 반복 */
                          transparent,
                          transparent 1px, /* 8px까지는 투명 */
                          rgba(0, 0, 0, 0.6) 2px, /* 9px에서 1px 두께의 검은 선 */
                          transparent 3px
          );

  /* 격자 크기 조절: 9px x 9px (8px 투명 + 1px 선) */
  background-size: 3px 3px;
  z-index: 1000;
}
