@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 800;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype')
}

:root {
  font-size: 16pt;
}

html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: #00ffff;
  font-family: Galmuri11, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: DNFBitBitv2, sans-serif;
  margin: 0;
  padding: 0;
}

article {
  position: relative;
  margin: 0 auto;

  div.content {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
  }
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  & > div {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 2rem;
    color: #ffdd00;
  }

  div.logo {
    height: 50%;
    width: 100%;
    mask-image: url('/assets/2025_recap/marble-roulette-title.svg');
    mask-position: center center;
    mask-repeat: no-repeat;
    background-color: #004444;
    background-image: radial-gradient(
                    circle at center,
                    #FFFFFF 0%,
                    rgba(0, 255, 255, 0.5) 20%,
                    rgba(0, 255, 255, 0) 50%
    );
    background-size: 200% 200%;
    animation: moveGlow 3s infinite alternate;
  }
}

section {
  border: solid 2px #00ffff;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  --appear-speed: 0.4s;

  display: flex;
  flex-direction: row;
  justify-content: space-between;


  &:nth-child(2n) {
    align-self: flex-end;

  }

  h2 {
    font-size: 3rem;
  }

  transition: opacity var(--appear-speed) ease-out, transform var(--appear-speed) ease-out;
  opacity: 1;
  transform: translateY(3rem);

  &.active {
    opacity: 1;
    transform: translateY(0);
  }

  & > div {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p.pyramid {
    align-self: center;
    color: #ffdd00;
    font-family: DNFBitBitv2, sans-serif;

    & +& {
      padding-top: 0;
      margin-top: 0;
    }
  }
}

@keyframes moveGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

#count {
  canvas {
    width: 400px;
    height: 400px;
    image-rendering: pixelated;
  }
}

#bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 800px) {
  article {
    width: 100vw;
    min-width: 400px;
    display: flex;
    align-items: center;

    header {
      div.logo {
        width: 90%;
      }

      h1 {
        font-size: 1.5rem;
      }
    }

    h2 {
      font-size: 1.5rem;
    }

    section {
      overflow: hidden;
      flex-direction: column;

      &:nth-child(2n) {
        align-self: unset;
      }

      video, canvas, img {
        width: unset !important;
        height: unset !important;
        object-fit: contain;
      }

      & > div {
        margin-left: unset;
      }
    }
  }
}

p.typing {
  overflow: hidden;
  animation: typewriter 2s steps(18) 1s infinite alternate both,
  blinkCursor 200ms steps(18) infinite normal;
  white-space: nowrap;
  border-right: solid 1px transparent;
}

#main-marble {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  border-radius: 50px;
  box-shadow: 0 0 20px #ff0000;
  z-index: 9999;
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 18em;
  }
}

@keyframes blinkCursor {
  0% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: #00ffff;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 1rem;
  font-size: 0.6rem;

  li + li {
    margin-top: .5rem;
  }
}
