@use 'sass:list';

@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 800;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype')
}

:root {
  font-size: 16pt;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: #00ffff;
  font-family: Galmuri11, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: DNFBitBitv2, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: black;
  opacity: 0;
  visibility: hidden;

  h2 {
    color: white;
  }

  div.text, div.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

#title-page {
  z-index: 90;

  div#main-marble {
    position: absolute;
    opacity: 0;
    width: 25px;
    height: 25px;
    background: #FF3333;
    border-radius: 50%;
    z-index: 999;
  }

  video.header-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;

    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    pointer-events: none;
  }

  div.content {
    display: flex;
    flex-direction: column;
    align-items: center;


    h1 {
      font-size: 1.5rem;
      color: white;
    }

    h2 {
      line-height: 4rem;
      font-size: 4rem;

      $all-shadows: ();

      @for $i from 1 through 9 {
        $current-shadows: (
                -#{$i}px 0px 1px #00ffff,
                #{$i}px 0px 1px #00ffff,
                0px -#{$i}px 1px #00ffff,
                0px #{$i}px 1px #00ffff,
        );

        $all-shadows: list.join($all-shadows, $current-shadows);
      }
      $all-shadows: list.join($all-shadows, (0px 0px 30px #00ffff,));
      text-shadow: $all-shadows;
      color: black;
    }
  }

  div.square {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 4px solid #00ffff;
    transform: translate(-50%, 0);
  }

  div.info {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%, 0);
    z-index: 10;
    animation: blink .8s linear infinite;
    color: yellow;
  }

  @keyframes blink {
    0% {
      opacity: 0;
      transform: translate(-50%, -10%);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, 10%);
    }
  }
}

section#people-page {
  z-index: 80;

  div.video {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  video {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

section#execution-page {
  z-index: 70;

  div.video {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  video#execution-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

section#date-hours-page {
  z-index: 60;

  div.clock {
    position: absolute;
    border: 5px solid white;
    border-radius: 50%;
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    div.clock-inner {
      width: 100%;
      height: 100%;
      position: relative;
    }

    div.hand {
      position: absolute;
      width: 5px;
      height: min(45%, 45%);
      background: #FF3333;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 0);

      &.hour {
        width: 15px;
        height: min(30%, 30%);
        background: #00baff;
      }

      &.minute {
        width: 10px;
        height: min(40%, 40%);
        background: #00ffff;
      }

      &.second {
        transform-origin: center bottom;
        animation: second-hand 60s steps(60) infinite;
      }

    }

  }

}

@keyframes second-hand {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


section#marble-count-page {
  z-index: 50;

  h2 {
    font-size: 1.4rem;
    white-space: nowrap;
  }

  div.pyramids {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transform: translate(-50%, -50%);
    z-index: 89;
  }

  .pyramid {
    flex-shrink: 0;
    flex-grow: 0;
    display: none;
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateY(326deg) rotateX(0deg) rotateZ(359deg);
    animation: rotate 3s linear infinite;
  }

  .side {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: yellow;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    &:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background: black;
    }
  }

  .base {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(37px) rotateX(90deg);
    border: 2px solid yellow;
    background: yellow;
  }

  .one {
    transform: rotateX(30deg);
    transform-origin: 0 0;
  }

  .two {
    transform-origin: 50% 0;
    transform: rotateY(90deg) rotateX(-30deg);
  }

  .three {
    transform-origin: 50% 0;
    transform: rotateY(270deg) rotateX(-30deg);
  }

  .four {
    transform-origin: 50% 0;
    transform: rotateY(0) rotateX(-30deg);
  }

  @keyframes rotate {
    0% {
      transform: scale(1, 1) rotateY(0) rotateX(0deg) rotateZ(-10deg);
    }
    50% {
      transform: scale(1, 1) rotateY(180deg) rotateX(0deg) rotateZ(10deg);
    }
    100% {
      transform: scale(1, 1) rotateY(360deg) rotateX(0deg) rotateZ(-10deg);
    }
  }
}

section#coffee-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 40;
}

section#thanks-page {
  z-index: 30;

  h2 {
    text-align: center;
  }

  p.info {
    position: absolute;
    width: 90%;
    bottom: 2rem;
    font-size: .7rem;
    left: 5%;
  }

}

section:last-child {
  height: 1px;
}

@media screen and (max-width: 800px) {
  section {
    div.content, div.text {
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

div.filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 1;
  background: /* 1. 수평선 (Horizontal Lines) */
          repeating-linear-gradient(
                          to bottom, /* 아래 방향으로 반복 */
                          transparent,
                          transparent 1px, /* 8px까지는 투명 */
                          rgba(0, 0, 0, 0.6) 2px, /* 9px에서 1px 두께의 검은 선 */
                          transparent 3px
          ),
            /* 2. 수직선 (Vertical Lines) */
          repeating-linear-gradient(
                          to right, /* 오른쪽 방향으로 반복 */
                          transparent,
                          transparent 1px, /* 8px까지는 투명 */
                          rgba(0, 0, 0, 0.6) 2px, /* 9px에서 1px 두께의 검은 선 */
                          transparent 3px
          );

  /* 격자 크기 조절: 9px x 9px (8px 투명 + 1px 선) */
  background-size: 3px 3px;
  z-index: 1000;
}
